.git
node_modules
.pnpm-store
build
dist
.env.local
.github
.vscode
test-results
betamovie-fe/node_modules
betamovie-fe/dist
betamovie-fe/.env.local
betamovie-be/node_modules
betamovie-be/.env
betamovie-be/.nitro
betamovie-be/.output
betamovie-be/.data
betamovie-be/generated
